.containerCountdown {
    display: flex;
    flex-direction: column;
    
    margin: 0 4rem 1rem;

    h2 {
        font-size: 2rem;
        margin: 0.2rem 0 0.4rem 0;
    }
        
    .countdown {

        >div {
            >span {
                
                &:nth-child(3) {
                    margin-right: 0.5rem;
                }
            }
        }

        >div {
            font-size: 2rem;
                       
        }

       .timer {
           display: flex;
           flex-direction: row;

            >span {
               margin: 0 0.5rem 0 0.5rem;
            }
       }
    }
}
